/*Iniciando meu primeiro arquivo CSS*/

body {
    color: #444;
    background: #00a2ff;
    background: linear-gradient(90deg, rgba(0, 162, 255, 1) 0%, rgba(253, 246, 29, 1) 50%, rgba(69, 252, 243, 1) 100%);
    min-width: 100vh;
}

.conteiner {
    max-width: 650;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.destaque {
    color: red;
}

.profile {
    margin-top: 100px;
    margin-bottom: 56px;
}

.profile__header img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    display: block;
    margin: 0 auto 24px auto;
}

.profile__header h2 {
    font-weight: 400;
}

.profile__header h1, .profile__header h2 {
    margin: 0;
}

.profile__header, .profile__about {
    text-align: center;
}

.profile__about div {
    background-color: blueviolet;
    padding: 16px;
    margin: 10px;
}

.profile__about .destaque {
    color: white;
}

a.destaque {
    color: blue;
}

.links ul {
    list-style: none;
}

.links a {
    display: flex;
    height: 56px;
    border: solid #444 1px;
    border-radius: 35px;
    text-decoration: none;
    padding: 0 24px;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    color: #444;
    font-weight: 600;
    font-size: 18px;
}

.links a:hover {
    border: solid 1px #fff;
    color: #fff;
    background: #444;
}

.link__item {
    width: 100%;
    text-align: center;
}

@media screen and (max-width:720px) {
    .profile__about {
        font-size: 20px;
    }
    
}